<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Testujeme</h1>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>this is heading 2</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1" style="background: gray">
            <p style="color: red">dsfdsfdsfs</p>
        </div>
        <div class="col-lg-6" style="background: green">
            <p style="color: red">aaaaaaaaaaaaaaaaaaa</p>
        </div>
        <div class="col-lg-3" style="background: red">
            <p style="color: red">aaaaaaaaaaaaaaaaaaa</p>
        </div>
    </div>


</div>

</body>
</html>